@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.Carousel {
    margin: 40px;
    &-Container {
        padding: 10px;
    }
    &-Title {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &-Cards {
        margin: 0 auto;
        width:100%;
        height: 80px;
        text-align: center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Righteous', cursive;
        text-shadow: rgb(19, 0, 68) 1px 0 10px;
        background-position: center;
        background-size: cover;
        &:hover{
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            transform: scale(1.1, 1.1);
            cursor:pointer; 
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .Carousel {

        &-Cards {
            height: 6vh;
        }
    }
    
}