.HomePage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5rem auto;

  &-Header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px rgb(226, 149, 121);
  }
  &-Title {
    margin: 0.5rem 0;
    color: rgb(226, 149, 121);
  }
  &-More {
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
  }

  &-Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2rem auto;
  }

  &-Container{
    margin: 0.5rem;
  }

}
