.HomePage {
  width: 100%;
  display: flex;

  &-Container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
    margin: 0 30px;
  }

  &-Title {
    padding: 0px 30px 0px;
    margin-bottom: 0;
  }

  &-Card {
    width: 50%;
    padding: 50px;
    padding-bottom: 10px;
  }

  &-Link {
    display: flex;
    font-size: 1.2rem;
    padding: 20px;
    justify-content: center;
  }

  &-StyleName {
    font-size: 15px;
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-weight: 100;
    text-shadow: rgb(56, 56, 56) 2px 2px 2px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .HomePage {
    &-Container {
      justify-content: flex-start;
      margin: 0 30px;
    }
    &-Card {
      width: 25%;
      padding: 50px;
      padding-bottom: 10px;
    }
  }
  .Carousel-Container {
    padding: 0px 10px;
    padding-left: 0;
    margin-left: -5px;
}
}

@media screen and (min-width: 1025px) {
  .HomePage {
    &-Container {
      justify-content: flex-start;
      margin: 0 60px;
    }
  }
}
