.Carousel {
    &-Title {
        padding: 5px 25px 7px;
        margin-bottom: 0;
      }
}
* {
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    /* Webkit */
    width: 0;
    height: 0;
  }
  
  .hs {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    -webkit-overflow-scrolling: touch;
    margin: 0 -20px;
  }
  
  .hs__header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .hs__headline {
    flex: 1;
  }
  
  .hs__arrows {
    align-self: center;
  }
  
  .hs__arrows .arrow:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
    background-size: contain;
    -webkit-filter: brightness(5);
            filter: brightness(5);
    width: 18px;
    height: 12px;
    cursor: pointer;
  }
  
  .hs__arrows .arrow.disabled:before {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
  
  .hs__arrows .arrow.arrow-prev:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-right: 10px;
  }
  
  .hs__arrows .arrow.arrow-next:before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  
  .hs__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(25% - 10px * 2 - 5px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .hs__item:last-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    right: calc(10px * 2 * -1);
  }
  
  .hs__item:first-child {
    margin-left: calc(10px * 2);
  }
  
  .hs__item__description {
    z-index: 1;
    align-self: flex-start;
    margin: 10px 0;
  }
  
  .hs__item__subtitle {
    color: #aaa;
    display: block;
  }
  .hs__item__image__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  
  .hs__item__image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  @media (hover: none) and (pointer: coarse) {
    .hs__wrapper .hs__arrows {
      display: none;
    }
    .hs__wrapper .hs__item {
      flex: 1 0 calc(23% - 10px * 2);
    }
  }
  
  @media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
    .hs__wrapper .hs__item {
      flex: 1 0 calc(45% - 10px * 2);
    }
  }