.Favorites-Title {
  height: auto;
  width: 100%;
  justify-content: flex-start;
  padding: 5px 25px 7px;
  margin-left: 11.5%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  //   /* Styles spécifiques aux tablettes */
  .Favorites-Title {
    width: 100%;
    justify-content: flex-start;
    margin-left: 4%;
  }
}

@media (min-width: 1025px) {
  .Favorites-Title {
    margin-left: 6%;
    width: 100%;
    justify-content: flex-start;
  }
}
