.Favorites {

&-Title {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
}

&-Box {
  justify-content: center;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  //   /* Styles spécifiques aux tablettes */
  .Favorites-Title {
    width: 100%;
    justify-content: flex-start;
    margin-left: 4%;
  }
}

@media (min-width: 1025px) {
  .Favorites-Title {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
    justify-content: flex-start;
  }
}
