footer {
  width: 1280px;
  margin-top: 6rem;
}

.footerContainer {
  //   padding: 0.5rem;
  display: flex;
  max-width: 1280px;
  //   justify-content: space-between;
  color: black;
  justify-content: space-around;
}

.logoContainer {
  width: 320px;
  flex-basis: 230px;
  //   flex-shrink: 6;
}

.Logo {
  width: 230px;
  //   flex-shrink: 10;
}

.Logo:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}

.apropos {
  //   padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.apropos:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
  //   -webkit-box-shadow: 3px 5px 15px -2px rgba(33,33,33,0.66);
  //   box-shadow: 3px 5px 15px -2px rgba(33,33,33,0.66);
}

.liens-utiles {
  //   padding: 0.5rem;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.liens-utiles:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}

.reseaux-sociaux {
  display: flex;
  flex-direction: row;
  width: 280px;
  gap: 0.5rem;
//   margin: 1rem;
  justify-content: center;
}

.icones {
  flex-basis: 90px;
}

.icon-reseaux {
  width: 90px;
}

.icon-reseaux:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(0.85);
  flex-shrink: 6;
}
