/**
 * FILEPATH: /home/student/Bureau/html/Post-Formation/discOtech/Front/src/components/Header/Header.scss
 * 
 * This SCSS file contains styles for the Header component.
 * The Header component is a section at the top of the page that displays a video background and some content.
 * It is responsive and adjusts its height and font size based on the screen size.
 * 
 * The styles in this file include:
 * - Setting the width, height, margin, font family, and position of the Header component
 * - Creating an overlay with a semi-transparent background color
 * - Styling the content within the Header component, including text alignment and margin
 * - Styling the video background with object-fit, filter, and border-radius
 * - Adjusting the position and font size of the content for different screen sizes using media queries
 */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400;500&display=swap');

.Header {
  width: 100%;
  height: 40vh;
  margin-bottom: 20px;
  font-family: 'M PLUS 1', sans-serif;
  font-weight: 500;
  position: relative;

  &-Overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: rgba(0,0,0,.2);
  }
  &-Content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-Description {
    margin: -10px 1.5rem;
  }
  &-Video {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    z-index: -3;
    filter: grayscale(60%) blur(1px);
    border-radius: 0px 0px 25px 25px;
   }

   &-Disco {
    margin-top: -30px;
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
   }
}

 @media (min-width: 1024px) {
   .Header {
     &-Content{
       position: relative;
       top: -62%;
       padding-bottom: 2rem;
     }
     &-Disco {
      font-size: 60px;
     }
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1024px) {
  .Header {
    height: 25vh;
  
    &-Overlay {
      height: 25vh;
    }
    &-Video {
      height: 25vh;
    }
    &-Content{
      top: -60%;
    }

    &-Disco {
      font-size: 50px;
     }
  }
}

@media (max-width: 768px) {
  /* Styles spécifiques aux appareils portables */
  .Header {
    height: 30vh;
  
    &-Overlay {
      height: 30vh;
    }
    &-Video {
      height: 30vh;
    }
    &-Content{
      top: -60%;
    }
  }

}