/**
 * Styles for the favorite button component.
 */
.favorite-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-left: 110px;
  width: 35px;
  height: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.604);
  outline: none;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
  
  /**
   * Styles for the SVG icon inside the favorite button.
   */
  svg {
    width: 15px;
    height: 15px;
    transition: fill 0.5s linear;
    cursor: pointer;
    fill: none;
    transition: 0.3s ease-in-out;
    
    /**
     * Styles for the SVG icon when hovered.
     */
    &:hover {
      transform: scale(1.3);
    }
  }

  /**
   * Styles for the favorite button when active.
   */
  &.active svg {
    fill: #401064d5;
  }

  /**
   * Styles for the favorite button when hovered.
   */
  &:hover {
    transform: scale(1.1);
  }
  
  /**
   * Media query for screen sizes between 768px and 1024px.
   */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-left: 160px;
  }
  
  /**
   * Media query for screen sizes larger than 1024px.
   */
  @media screen and (min-width: 1025px) {
    margin-left: 150px;
  }
}
