/**
 * FILEPATH: /home/student/Bureau/html/Post-Formation/discOtech/Front/src/components/AlbumPage/AlbumPage.scss
 * 
 * Styles for the AlbumPage component.
 */
.AlbumPage {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;

  &-Header {
    list-style: none;
    padding: 0;
  }

  // ------------------------------------------- Image -------------------------------------------

  &-ImageContainer {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &-Img {
    border-radius: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // ----------------------------------------- Buttons -----------------------------------------

  &-FavoriteBtn {
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 17px;
  }

  &-ReturnBtn {
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 20px;
  }

  // -------------------------------------Description -----------------------------------------

  &-Title {
    color: white;
    font-weight: bold;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &-Name {
    font-size: 1.6rem;
    padding-top: 15px;
  }

  &-ArtistName {
    font-size: 1.3rem;
    color: rgb(183, 183, 183);
    padding-bottom: 10px;
  }

  &-Supports {
    flex-direction: row-reverse;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 8px 0px;
  }

  &-Support {
    padding-right: 15px;
    font-weight: 500;
  }

  &-Styles {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    padding-bottom: 15px;
  }

  &-Style {
    padding-right: 12px;
    font-style: italic;
  }
  &-Edition {
  padding: 40px 20px;
  color: grey;
  }
  // ----------------------------------------Tracks --------------------------------------------

  &-Songs {
    position: relative;
    list-style: none;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.641);
    box-shadow: 0 8px 32px 0 rgba(26, 26, 27, 0.37);
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 280px 10px;
  }

  &-Playlist,
  &-PlaylistHead {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(65, 62, 62);
    padding-top: 1rem;
  }

  &-PlaylistHead {
    font-weight: bold;
    justify-content: space-between;
  }

  &-TrackNbHead,
  &-DurationHead {
    font-size: 1.5rem;
  }
  &-SongTitleHead {
    font-size: 1.1rem;
  }
  &-SongArtistHead {
    display: none;
  }

  &-SongTitle, &-SongTitleHead {
    font-size: 1.1rem;
    width: 75%;
    padding: 3px 0px 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-SongArtist, &-SongArtistHead {
    font-size: 15px;
    width: 80%;
    padding-left: 35px;
  }

  &-Duration, &-DurationHead {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    width: 60px;
  }

  &-TrackNb {
    font-size: 1rem;
    width: 25px;
    padding-top: 3.5px;
  }

  //? ===================================== MEDIA QUERIES PC =====================================

  @media (min-width: 630px) {
    &-Header {
      width: 100%;
      align-items: flex-start;
      margin-top: -50px;
    }

    // ------------------------------------------- Image -------------------------------------------

    &-ImageContainer {
      position: relative;
    }
    &-Img {
      width: 250px;
      margin: auto 0;
      margin: 60px 0px 0px 80px;
    }

    // ----------------------------------------- Buttons -----------------------------------------

    &-ReturnBtn {
      left: 75px;
      top: -80px;
    }
    &-FavoriteBtn {
      right: 60px;
      top: -60px;
    }

    // -------------------------------------Description -----------------------------------------

    &-Songs {
      position: relative;
      top: -450px;
      list-style: none;
      color: rgb(255, 255, 255);
      background: none;
      box-shadow: none;
      margin-left: 40px;
      margin-right: 40px;
    }

    &-Title {
      padding-bottom: 30px;
      padding-left: 320px;
    }

    &-Name,
    &-ArtistName,
    &-Style {
      display: flex;
      justify-content: flex-start;
    }

    &-Supports {
      justify-content: flex-end;
      margin-left: -12px;
      padding: 50px 10px;
      font-weight: 500;
    }

    &-SongArtistHead {
      display: inherit;
      font-size: 1.1rem;
    }

    // -------------------------------------Tracks -----------------------------------------

    &-Playlist, &-PlaylistHead {
      display: flex;
      flex-wrap: nowrap;
    }

    &-SongTitle {
      line-height: normal;
      font-size: 1rem;
    }

    &-SongArtist {
      color: rgb(165, 165, 165);
      font-size: 0.9rem;
    }

    &-Duration {
      text-align: end;
      font-size: 1rem;
    }

    &-TrackNb {
      margin-bottom: 0;
    }
  }

}
