/**
 * Styles for the LegalNotices component.
 */
.Accordion {
  margin-top: 2rem;
  &-Container {
    background: transparent;
  }
}

/**
 * Styles for the accordion collapse section.
 */
.accordion-item .accordion-collapse {
  background-color: #343541;
  color: white;
}

/**
 * Styles for the accordion header section.
 */
.accordion-header{
  background-color: #614789;
}

/**
 * Styles for the first accordion item button.
 */
.accordion-item:first-of-type .accordion-button{
  background-color: #614789;
  color: white;
  border-color: black;
}
