/**
 * Styles for the AboutUs component.
 */

h2 {
  margin-top: 3rem;
  padding: 3px 30px 5px;
}

.Info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 220px;
  justify-content: center;
  // max-width: 100vw;
}

.AboutUs {
  &-Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.9rem;
    gap: 0.5rem;
    // min-height: 360px;
    // background-color: chartreuse;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

p {
  margin-bottom: 0.4rem;
}

.flip-card {
  background-color: transparent;
  // min-width: 0px;
  width: 220px;
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  min-height: 360px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  //padding: 0.6rem;
}

.flip-card-inner {
  position: absolute;
  width: 220px;
  height: 100%;
  max-height: 300px;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px; // Modifié pour fixed Responsive
  height: 315px; // Modifié pour fixed Responsive
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(155, 39, 190);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    bisque 60%,
    rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%,
    rgba(103, 19, 151, 0.603) 48%
  );
  color: rgb(119, 34, 158);
  padding: 0.2rem;
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(170, 123, 184) 30%,
    rgb(164, 52, 192) 88%,
    bisque 40%,
    rgb(103, 24, 148) 78%
  );
  color: white;
  transform: rotateY(180deg);
}

.Dino {
  object-fit: contain;
  border-radius: 6%;
  margin-bottom: 0.5rem;
}
