.AboutUs {
  &-Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem;
    font-size: 0.9rem;
    gap: 1rem;
    align-items: center;
    // line-height: 1.8;
  }
}
h5,
h6 {
  // font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}
p {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  //   /* Styles spécifiques aux tablettes */
  .AboutUs-Container {
    padding: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  //   /* Styles spécifiques aux tablettes */
  .AboutUs-Container {
    padding: 6rem;
  }
}
.flip-card {
  background-color: transparent;
  width: 180px;
  height: 254px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 1rem;
  // margin-bottom: 1.2rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
  margin-bottom: 1rem;
  flex-shrink: 2;

}

.flip-card-front {
  background: linear-gradient(120deg, rgb(238, 234, 229) 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(176, 8, 243, 0.603) 48%);
  color: rgb(214, 80, 255);
  // margin: 1rem;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(224, 145, 255) 30%, coral 88%,
     bisque 40%, rgb(211, 107, 231) 78%);
  color: white;
  transform: rotateY(180deg);
}

.Info h5 {
padding-left: 10%;
}