.AlbumCard {
  color: rgb(224, 224, 224);
  width: 252px;
  height: 265px;
  background: rgb(28, 28, 28);
  border-radius: 20px;
  box-shadow: 15px 15px 30px #959595, -15px -15px 30px #959595;
  transition: 0.3s ease-in-out;

  &-Picture {
    width: 100%;
    height: 76%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../../assets/Picture.jpg");
    background-size: 100%;
    display: flex;
    align-items: top;
    justify-content: right;
  }

  &-Description {
    margin-left: 1em;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: left;
    opacity: 1;
  }

  h3 {
    padding-top: 2px;
    margin: 0px;
  }
  p {
    margin: 0px;
  }
  &-Button {
    width: 55px;
    height: 55px;
    background: rgba(0, 0, 0, 0);
    border-radius: 30px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    left: 75%;
    bottom: 19%;
    transition: all .5s ease-in-out;
  }

  &-Arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
}

/*Card Hover*/
.AlbumCard:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}
/*Button Hover*/
.AlbumCard-Button:hover {
  box-shadow: 1px 1px 12px #555;
}

