/**
 * Styles for the StylesPage component.
 */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.StylesPage {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /**
     * Styles for the StylesPage container.
     */
    &-Container {
        padding: 10px;
    }

    /**
     * Styles for the StylesPage cards.
     */
    &-Cards {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        text-align: center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Righteous', cursive;
        text-shadow: rgb(19, 0, 68) 1px 0 10px;
        background-position: center;
        background-size: cover;
    }

    /**
     * Styles for the StylesPage title.
     */
    &-Title {
        padding-left: 2rem;
    }

    /**
     * Styles for the StylesPage return button.
     */
    &-Return {
        bottom: 210px;
        position: relative;
        left: 10px;
    }

}

/**
 * Media query styles for screens between 768px and 1024px.
 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .StylesPage {

        /**
         * Styles for the StylesPage cards in the media query range.
         */
        &-Cards {
            width: 200px;
            height: 200px;
        }

        /**
         * Styles for the StylesPage return button in the media query range.
         */
        &-Return {
            bottom: 270px;
        }

    }
    
}

/**
 * Media query styles for screens larger than 1024px.
 */
@media screen and (min-width: 1024px) {
    .StylesPage {

        /**
         * Styles for the StylesPage cards in the larger screen media query.
         */
        &-Cards {
            width: 250px;
            height: 200px;
        }

        /**
         * Styles for hiding the StylesPage return button in the larger screen media query.
         */
        &-Return {
            display: none;
        }

    }
    
}