.Header {

    &-UserImg {
        width: 40%;
        margin-top: -2.5rem;
      }
      &-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-Title {
        font-size: 2.5em;
        color: #2e2e2e;
        font-weight: 700;
        margin: 20px 0 10px 0;
      }

}

