/**
 * FILEPATH: /home/student/Bureau/html/Post-Formation/discOtech/Front/src/index.scss
 * 
 * This SCSS file contains the styles for the index page of the discOtech website.
 * It imports two Google Fonts, sets some global styles for the root element,
 * and defines styles for various elements such as paragraphs, links, buttons, and headings.
 * It also includes media queries for different screen sizes and color schemes.
 */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

a {
  font-weight: 500;
  color: #ffffff;
}

h1, h2 {
  line-height: 1.1;
  font-family : 'Righteous', cursive;
}
h1 {
  font-size: 3.9em;
}
h2 {
  font-size: 1.8em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #a8aadd;
  }
}