@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4B0065;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
}

body {
  margin: auto;
  min-width: 100%;
  min-height: 100vh;
  color: white;
}

h1, h2 {
  line-height: 1.1;
  font-family : 'Righteous', cursive;
}
h1 {
  font-size: 3.9em;
}
h2 {
  font-size: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #a8aadd;
  }
}
