body {
    margin: auto;
    background-size: cover;
    background: linear-gradient(rgb(0, 0, 68), rgb(39, 0, 78));
    background-repeat: no-repeat;
    height: 100vh;
  }
.Login {
  &-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  &-Card {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0px 30px 7px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    margin: 50px 50px 0px 50px;
  }
  &-UserImg {
    width: 40%;
    margin-top: -2.5rem;
  }
  &-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-Title {
    font-size: 2.5em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  &-InputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-InputField {
    width: 100%;
    height: 40px;
    background-color: transparent;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: 0.8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  // todo : Check border-color
  &-Button {
    position: relative;
    width: 250px;
    background-color: #d19ffa91;
    height: 40px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    overflow: hidden;
  }
}

.LoginInputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.LoginInputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

.Login-Button::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: 0.5s;
}
