.AlbumCard {
  padding: 0.8rem;
  background: rgba(138, 74, 133, 0.044);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(10, 8, 24, 0.27);
  transition: 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    border: 1px solid #4d4263;
    // box-shadow: 0px 0px 20px 20px rgba(26, 26, 26, 0.379);
    z-index: 500;
  }

  &-Image {
    position: relative;
    width: 145px;
    height: 145px;
    border-radius: 5px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-Description {
    display: flex;
    width: 175px;
    padding-top: 1rem;
    flex-direction: column;
    color: white;
    text-align: left;
    justify-content: flex-end;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  }

  &-Title {
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-Artist {
    color: rgb(193, 191, 191);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  img {
    width: 40%;
  }

  &-Subtitle {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .AlbumCard-Image {
    width: 130px;
    height: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .AlbumCard-Image {
    width: 220px;
    height: 220px;
  }
}

@media screen and (min-width: 1025px) {
  .AlbumCard {
    width: 203px;

    &-Image {
      width: 175px;
      height: 175px;
    }
  }
}
