.Header {
  &-UserImg {
      width: 30%;
    }
    &-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
    }
    &-Title {
      font-family: 'Righteous', cursive;
      font-size: 2.5em;
      font-weight: 600;
      margin: 10px 0px;
    }
}

.SignUp {
   &-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/music-shop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;
   }

   &-Card {
    width: 300px;
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.675);
    background: rgba(0, 0, 0, 0.611);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.608);
    margin: 20px 50px 0px 50px;
   }
  &-InputContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-Avatar {
    height: 96px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.302);
    border-radius: 20%;
    margin: 15px 15px 15px 0px;
    padding: 5px;
    cursor: pointer;
  }
  &-AvatarInput {
    display: none;
  }
  &-AvatarImg {
    width: 85px;
  }
  &-Username {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  &-UserTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &-InputField {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 8px 15px;

    &:focus {
      outline: none;
      border-bottom: 2px solid rgb(199, 114, 255);
    }
    &::placeholder {
      color: rgb(80, 80, 80);
      font-size: 1em;
      font-weight: 500;
    }
  }

  &-Link {
    padding-top: 20px;
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 800;
    text-align: center;
    text-shadow: rgb(19, 0, 68) 1px 0 10px;
  }

  &-Button {
    position: relative;
    width: 230px;
    background-color: #402656d3;
    height: 40px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
  }

}

@media screen and (min-width: 481px) {
  .SignUp {
    &-Card {
      width:400px;
    }
    &-Button {
      width:300px
    }
    &-Avatar {
      height: 120px;
      width: 120px;
      margin: 15px 15px 15px 0px;
      padding: 5px;
    }
    &-AvatarImg {
      width: 110px;
    }
  }
 }

 @media screen and (min-width: 1024px) {
  .SignUp {
    &-Card {
      width:550px;
    }
  }
 }